@model ShopCartViewModel
<div class="container">
    @foreach (var el in Model.shopCart.listShopItems)
    {
        <div class="alert-warning mt-3">
            <b>Кондитерское изделие:</b> @el.cake.name<br />
            <b>Цена:</b> @el.cake.price.ToString("c")
        </div>
    }
    <hr />
    <a class="btn btn-danger mb-5" asp-controller="Order" asp-action="Checkout">Оплатить</a>
</div>